h3{
  color: blueviolet;
  font-family: 'Montserrat';
}
h2{
  color: rgb(226, 43, 195);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4{
  color: rgb(51, 26, 26);
  font-style: italic;
}

body{
  background-color: rgb(198, 242, 208);
}
